ul {
    display: block;
    overflow: hidden;

}

.navegacao{
    display: block;
    width: 100%;
    margin: 0 auto;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.cabecalho {
    cursor:pointer;
    display:block;
    font-family:"Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-bottom:4px;
    padding-left:0px;
    padding-right:0px;
    padding-top:36px;
    text-align:center;
    line-height: 28px;

}
.cabecalho2 {
    box-sizing:border-box;
    display:block;
    text-align:center;
    font-size:46px;
    font-weight: 700 !important;
}

.cabecalho, .sub-cabecalho {
    line-height: 30px;
    box-sizing: inherit;
    padding: 10px;
}

.sub-cabecalho {
    font-size: 18px;

}

.titulo {
    font-weight: 600 !important;
    padding-right: 12px;
    font-size: 20px;
}

h1 {
    display: block;
    margin: .67em 0;
}

li {
    float: left;
}

li a {
    color: black;
    text-align: center;
    text-decoration: none;
    border: 1px solid transparent;
    display: inline-block;
    margin-top: 1px;
    padding: 16px 30px 16px 12px;
    font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

li a:hover {
    background-color: #fff;
}

a body {
    font-size: 15px;
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
    font-size: 15px;
    min-width: 320px;
    color: #000;
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#xbox {
    height: 450px;
    max-width: 100%;
    margin: 10px auto 10px auto;
    background-image: url(xboxs.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
}

#joguinhos {
    height: 450px;
    max-width: 100%;
    background-image: url(jogos.jpg);
    background-position: center;
    background-size: cover;
}

.compre {
    cursor:pointer;
    color:rgb(14, 112, 14);
    font-weight:900;
    text-align: center;
    padding-bottom: 45px;
}

.busque {
    box-sizing:content-box;
    color:rgb(14, 112, 14);
    cursor:pointer;
    display:inline-block;
    font-family:"Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:15px;
    font-weight:900;
    vertical-align:top;
}

.console {
    box-shadow:rgba(0, 0, 0, 0) 0px 4px 8px 0px;
    box-sizing:border-box;
    cursor:pointer;
    display:inline-block;
    font-family:"Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:15px;
    font-style:normal;
    letter-spacing:normal;
    position:relative;
    text-align:center;
    white-space:nowrap;
    padding: 5px 20px 5px 22px;
    color: #054b16;
    font-weight: 900;
    background: #9bf00b;
    margin-top: 12px;
}

.paragrafo {
    padding-top: 2px;
    padding-right: 12px;
    margin-top: 0;
    margin-bottom: 0;
}

.item {
    margin: 5px;
    width: 33.33%;
    padding-right: 15px;
}

.contra_1 {
    background-color:rgb(0, 0, 0);
    height:330.538px;
    position:relative;
}

.cabecalho3 {
    font-size: 20px;
    line-height: 24px;
}

.contra_2 {
    box-sizing:border-box;
    color:rgb(255, 255, 255);
    padding-left:36px;
    padding-right:36px;
    position:absolute;
    text-align:left;
    top:165.262px;
    transform:matrix(1, 0, 0, 1, 0, -98.4);
    width:441.2px;
}

.pe{
    font-size: 15px;
    height: 316px;
    text-size-adjust: 100%;
    width: 922.4px;
    padding-left: 20px;
}

#jogos {
    display: inline-flex;
    padding-top: 30px;
    margin: 0 45px;
}

#baixo {
    background: #f2f2f2;
    font-family: 'Segoe UI',SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#baixo li a{
    color: #616161;

}