ul {
  display: block;
  overflow: hidden;
}

.navegacao {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navegacao ul {
  list-style-type: none;
}

.navegacao ul li a:hover {
  border-bottom: 2px solid black;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.cabecalho {
  display: block;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  text-align: center;
}
.cabecalho2 {
  box-sizing: border-box;
  display: block;
  text-align: center;
  font-size: 46px;
  font-weight: 700 !important;
  padding-bottom: 15px;
}

.cabecalho,
.sub-cabecalho {
  line-height: 30px;
  box-sizing: inherit;
  padding: 10px;
}

.sub-cabecalho {
  font-size: 18px;
}

h1 {
  display: block;
  margin: 0.67em 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

li {
  float: left;
}

li a {
  color: black;
  text-align: center;
  text-decoration: none;
  border: 1px solid transparent;
  display: inline-block;
  margin-top: 1px;
  padding: 16px 30px 16px 12px;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

li a:hover {
  background-color: #fff;
}

a body {
  font-size: 15px;
  font-family: Segoe UI, SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  font-size: 15px;
  min-width: 320px;
  color: #000;
  font-family: Segoe UI, SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#xbox {
  height: 450px;
  max-width: 100%;
  margin: 10px auto 10px auto;
  background-image: url(/assets/images/xboxs.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
}

#joguinhos {
  height: 450px;
  max-width: 100%;
  background-image: url(/assets/images/jogos.jpg);
  background-position: center;
  background-size: cover;
}

.compre {
  cursor: pointer;
  color: rgb(14, 112, 14);
  font-weight: 900;
  text-align: center;
  padding-bottom: 45px;
}

.compre:hover {
  text-decoration: underline;
}

.contra_2 .busque {
  color: white;
  padding-bottom: 25px;
}

.busque {
  box-sizing: content-box;
  color: rgb(14, 112, 14);
  cursor: pointer;
  display: inline-block;
  font-family: SegoeProBlack, Segoe UI, SegoeUI, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 900;
  vertical-align: top;
  padding: 10px 3px 7px 0;
}

.console {
  cursor: pointer;
  display: inline-block;
  padding: 5px 20px 5px 22px;
  color: #054b16;
  font-weight: 900;
  background: #9bf00b;
  margin-top: 12px;
}

.console:hover {
  text-decoration: underline;
}

.paragrafo {
  padding-top: 2px;
  padding-right: 12px;
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  display: block;
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom: 25px;
}

.titulo {
  font-size: 20px;
  margin-top: 20px;
  font-weight: 600 !important;
  padding-right: 12px;
}

.cabecalho3 {
  font-size: 34px;
  line-height: 40px;
}

.paragrafo3 {
  height: 72px;
}

.pe {
  font-size: 15px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  color: rgb(97, 97, 97);
}

.pe li a {
  padding: 0 5px;
  color: #616161;
  font-size: 11px;
  padding: 10px;
}

.pe h4 {
  padding-left: 10px;
}
.pe li a:hover {
  text-decoration: underline;
}

#baixo {
  background: #f2f2f2;
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#jogos {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  margin: 0 45px;
}

.item {
  margin: 5px;
  text-align: center;
  padding-right: 15px;
  text-align: justify;
}

.flex-item-1 {
  flex: 1;
}

.busque:hover {
  text-decoration: underline;
}

.contra_2 .busque:hover {
  text-decoration: underline;
  color: rgb(155, 240, 11);
}

.contra_2 {
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  padding-top: 25px;
  padding-left: 36px;
  padding-right: 36px;
  text-align: left;
  margin: 0 45px;
}

.contra_1 {
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.contra_1 img {
  max-width: 100%;
}

@media only screen and (max-width: 360px) {
  .navegacao {
    display: none;
  }
}
